doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/operatore.js')
  body
    div.container
      div.header-buttons
        button#button1(onclick="window.location.href='http://localhost:3010/'") Vai al pannello
        button#button2(onclick="window.location.href='http://localhost:3020/admin'") Vai al blog
        button#button3(onclick="window.location.href='http://localhost:3010/interventi'") Vai a lavori in corso

      div.msg-header(style="margin-top: 40px;")
        div.container1
          img(src="/images/user.png" class="msgimg")
          div.active
            p Utente
            
      div.chat-page
        div.msg-inbox
          div.chats
            div#msgPg.msg-page
              
          div.msg-bottom
            div.input-group
              input#text.form-control(type='text', placeholder='Write message...')
              button#b1.btn.btn-primary
                img(src='/images/button.png')